* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;
}

.vertical-padding-container {
    padding-top: 80px;
    padding-bottom: 100px;
}

.vertical-align-flex-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}