* {
    box-sizing: border-box;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 1280px;
    padding-inline: 40px;
}

.vertical-padding-container {
    padding-top: 80px;
    padding-bottom: 100px;
}