.bg-texture-wrapper {
    --color-text: var(--color-text-light);

    --color-link: var(--color-link-light);
    --color-link-active: var(--color-link-light-active);
    --color-link-hover: var(--color-link-light-hover);

    --color-heading: var(--color-heading-light);


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background:
        url("../../assets/images/bg-texture.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
        #211f20;
}