button {
    background-color: var(--color-primary);
    border-radius: 100px;
    padding: 15px 45px;
    line-height: 130%;
    color: var(--color-button-text);
    width: fit-content;
    font-size: 17px;
    border: none;
}

button:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    cursor: pointer;
}

.outline-button {
    --border-width: 2px;
    border: var(--border-width) solid var(--color-primary);
    padding: calc(15px - var(--border-width)) calc(45px - var(--border-width));
    background-color: transparent;
}

.circle-button {
    --diameter: 52px;
    min-width: var(--diameter);
    min-height: var(--diameter);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}