button {
    --padding-vertical: 15px;
    --padding-horizontal: 45px;
    width: fit-content;
    padding: var(--padding-vertical) var(--padding-horizontal);
    background-color: var(--color-primary);
    border-radius: 100px;
    line-height: 130%;
    color: var(--color-button-text);
    font-size: 17px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    cursor: pointer;
}

.outline-button {
    --border-width: 2px;
    border: var(--border-width) solid var(--color-primary);
    padding: calc(var(--padding-vertical) - var(--border-width)) calc(var(--padding-horizontal) - var(--border-width));
    background-color: transparent;
}

.circle-button {
    --diameter: 52px;
    min-width: var(--diameter);
    min-height: var(--diameter);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-button {
    border-radius: 9px;
    padding: 10px 15px;
}