button {
    --padding-vertical: 15px;
    --padding-horizontal: 45px;
    width: fit-content;
    padding: var(--padding-vertical) var(--padding-horizontal);
    border: none;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    color: var(--text-color-button);
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button.active {
    background-color: var(--color-primary);
}

button:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    cursor: pointer;
}

button:disabled {
    background-color: var(--text-color-button-disabled);
    border-color: var(--text-color-button-disabled);
    color: var(--text-color-button-disabled);
    cursor: not-allowed;
}

.outline-button {
    --border-width: 2px;
    border: var(--border-width) solid var(--color-primary);
    padding: calc(var(--padding-vertical) - var(--border-width)) calc(var(--padding-horizontal) - var(--border-width));
    background-color: transparent;
}

.outline-button:disabled {
    background-color: transparent;
}

:is(button, .outline-button).active {
    background-color: var(--color-primary);
}

:is(button, .outline-button).active:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    cursor: default;
}

.circle-button {
    min-width: 52px;
    min-height: 52px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-button>* {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.rectangle-button {
    border-radius: 9px;
    padding: 10px 15px;
}