.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-card);
    border-radius: 9px;
    width: 270px;
    min-height: 435px;
}

.card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.card:hover button {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.card-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}