:root {
    /* color schema */
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;

    --color-light-s: #fafafa;
    --color-light-l: #f6f6f6;
    --color-light-xl: #ffffff;

    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-dark-4xl: #000000;

    /* background colors */
    --background-dark-section-wrapper: var(--color-light-l);
    --background-card: var(--color-light-s);
    --background-card-hover: var(--color-light-s);

    /* text colors */
    --text-color-logo-title: var(--color-dark-l);
    --text-color-logo-title-light: var(--color-primary);
    --text-color-logo-subtitle: var(--color-dark-3xl);
    --text-color-logo-subtitle-light: var(--color-light-xl);

    --text-color-paragraph-l: var(--color-dark-3xl);
    --text-color-paragraph-l-light: var(--color-dark-m);
    --text-color-paragraph-s: var(--color-dark-m);

    --text-color-link: var(--color-dark-l);
    --text-color-link-light: var(--color-dark-s);
    --text-color-link-active: var(--color-dark-l);
    --text-color-link-active-light: var(--color-light-s);
    --text-color-link-hover: var(--color-dark-3xl);
    --text-color-link-hover-light: var(--color-light-s);

    --text-color-heading: var(--color-dark-l);
    --text-color-heading-light: var(--color-light-xl);

    --text-color-button: var(--color-dark-3xl);
    --text-color-button-disabled: var(--color-dark-s);

    /* background gradients */
    --gradient-start-screen: url(../../assets/images/bg-texture.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    --gradient-footer: url(../../assets/images/bg-texture.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}