@import "../../common/styles/index.css";

.start-screen-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.start-screen-article {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-bottom: 80px;
}

.start-screen-img {
    width: 698px;
}

.about-pets-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding-inline: 215px;
}

.about-pets-img {
    width: 300px;
}

.about-pets-article {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cards-carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.cards-carousel-view {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.help-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
}

.help-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.help-list-item-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.donation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-inline: 183px;
}

.donation-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}