@import "../../common/styles/index.css";

.cards-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 40px;
}

.cards-view>:last-child {
    margin-right: auto;
}

.cards-pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
}